:root{
	--ass_width: 13vw;
}

a {
	text-decoration: none;
	color: #FFFFFFDE;
}

html{
	background-color: #121212;
	color: #FFFFFFDE;
}

body {
	font-size: 12pt;
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}

header {
	align-items: center;
	text-align: center;
	background-color: #151726;
	border-bottom: 4px #21315f solid;
	padding: 10px;
}

header h1 {
	margin: 0;
}

main {
	display: flex;
    flex-direction: row;
	flex-grow: 1;
	justify-content: space-between;
}



aside {
	display: flex;
	flex-direction: column;
	width: var(--ass_width);
	/* z-index: 1; */
	overflow-x: hidden;
	background-color: #171717;
	border-left: 2px #222222 solid;
	padding: 16px;
}
#ass {
	width: var(--ass_width);
}

@media screen and (max-width: 701px) {
	main {
	  flex-direction: column-reverse;
	}
	aside {
		width: 100%;
	}
}

aside input {
	width: 100%;
}

#grade_list {
	display: flex;
    align-items: center;
    flex-direction: column;
}

.grade {
	display: flex;
	flex-direction: column;
	margin: 0 20px 0 20px;
	/* width: 70%; */
	max-width: 1120px;
}

.grade h3 {
	margin: 20px 0 3px 0;
}

.kanji_container {
	display: flex;
	flex-wrap: wrap;
}

.kanji_item {
	font-size: 1em;
	padding: 1px 5px;
	border: 1px black solid;
}

.kanji_item_active {
	background-color: #1f5014;
}