@font-face {
	font-family: swaywm_monospace;
	src: url("../fonts/DejaVuSansMono/DejaVuSansMono.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: swaywm_monospace;
	src: url("../fonts/DejaVuSansMono/DejaVuSansMono-Bold.ttf") format("truetype");
	font-weight: bold;
}

:root {
	--bkg_color: #000000;
	--box_bkg_color: #000000;
	--box_bkg_color_H: #4c4c4c;
	--border_color: #6a3cbf;
	--border_color_H: #4c4c4c;
	--text_color: #dedede;
	--link_color: #3366CC;
	--accent_color: #6a3cbf;

	--focused_indicator: #9D66FF;
	--focused_inactive-indicator: #484e50;

	--unfocused_border: #333333;
	--unfocused_background: #222222;
	--unfocused_text: #9e9e9e;
	--unfocused_indicator: #292d2e;
}

html {
	background-color: var(--bkg_color);
	color: var(--text_color);
	font-family: 'swaywm_monospace', monospace, sans-serif;
	font-weight: bold;
}

body {
	display: flex;
	flex-direction :row-reverse;
	justify-content: space-between;
	height: 100vh;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--link_color);
}

/* これ何 */
img{vertical-align:bottom}

.sway_window {
	border: 1px solid var(--unfocused_border);
	background-color: var(--box_bkg_color);
	margin: 10px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.sway_window:hover {
	border: 1px solid var(--accent_color);
}

.sway_window_title {
	font-weight: normal;
	padding-left: 4px;
	background-color: var(--unfocused_background);
	color: var(--unfocused_text);
	font-size: auto;
	height: 20px;
	line-height: 20px;
}
.sway_window:hover .sway_window_title {
	background-color: var(--accent_color);
	color: var(--text_color);
}

.sway_window_title h5:last-child { display: none; }
.sway_window_title:hover h5:last-child { display: block; }
.sway_window_title:hover h5:first-child { display: none; }

.sway_window_content {
	padding: 10px;
	overflow-x: hidden;
  	overflow-y: auto;
}

.grade_item {
	padding: 0 10px 10px 10px;
	/* margin-bottom: 10px; */
	width: 100%;
	box-sizing: border-box;
}

.grade_divider {
	height: 1px;
	background-color: var(--unfocused_border);
	margin: 8px 0 8px 0;
}

.grade_name {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.kanji_container {
	margin-top: 16px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.kanji_container > * {
	text-align: center;
	align-content: center;
	font-size: 1.3em;
	padding: 2px 4px;
	font-weight: normal;
	color: var(--text_color);
	background-color: var(--unfocused_background);
	margin: 1px;
	/* box-shadow: inset 0 0 0 1px var(--focused_inactive-border); */
}

.kanji_item_active {
	/* box-shadow: inset 0 0 0 1px var(--bkg_color); */
	background-color: var(--accent_color);
}

/* Högra spalten */
aside {
	min-width: 300px;
	max-width: 300px;
}

aside>h5 {
	margin: 0;
}
#aside_content>p {
	margin: 0;
	font-size: 10pt;
}

#aside_content form{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
input[type="range"] { 
	accent-color: var(--accent_color);
}
input[type="number"] {
	-moz-appearance: textfield;
	box-sizing: border-box;
	outline: none;
	padding: 4px 6px;
	font-size: 12pt;
	border-radius: 0 !important;
	background-color: var(--bkg_color);
	border: 2px solid var(--border_color_H);
	caret-color: var(--text_color);
	color: var(--text_color);
}
input[type="number"]:focus {
	border: 2px solid var(--accent_color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Till hit */

@media only screen and (max-width: 716px) {
	body {
		flex-direction: column;
		align-items: center;
		height: auto;
	}

	aside {
		max-width: none;
	}
}